element.style {
}
.MW5IWV .Kv1aVt {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.LWbAav {
    background-color: var(--bg-overlay-color);
    background-image: var(--bg-gradient);
}
a, abbr, acronym, address, applet, b, big, blockquote, button, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h1, h2, h3, h4, h5, h6, header, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var {
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
user agent stylesheet
div {
    display: block;
}
.MW5IWV {
    height: 100%;
    left: 0;
    -webkit-mask-image: var(--mask-image,none);
    mask-image: var(--mask-image,none);
    -webkit-mask-position: var(--mask-position,0);
    mask-position: var(--mask-position,0);
    -webkit-mask-repeat: var(--mask-repeat,no-repeat);
    mask-repeat: var(--mask-repeat,no-repeat);
    -webkit-mask-size: var(--mask-size,100%);
    mask-size: var(--mask-size,100%);
    overflow: hidden;
    pointer-events: var(--fill-layer-background-media-pointer-events);
    position: absolute;
    top: 0;
    width: 100%;
}
<style>
#comp-lm88lbwn {
    --bg-overlay-color: rgb(var(--color_27));
    --bg-gradient: none;
    width: 100%;
    --column-width: 980px;
    --column-flex: 980;
}
<style>
#comp-lm88lbwg {
    --bg-overlay-color: transparent;
    --bg-gradient: none;
    --padding: 0px;
    --margin: 0px;
    min-width: 980px;
    --items-direction: row;
}
:host(:not(.device-mobile-optimized)) .CohWsy, [data-preview~=host] .CohWsy, body:not(.device-mobile-optimized) .CohWsy {
    --display: flex;
    display: var(--display);
}
[data-mesh-id$=-gridContainer]>*, [data-mesh-id$=-rotated-wrapper]>*, [data-mesh-id$=inlineContent]>:not([data-mesh-id$=-gridContainer]) {
    pointer-events: auto;
}
[data-mesh-id$=centeredContent], [data-mesh-id$=form], [data-mesh-id$=inlineContent] {
    pointer-events: none;
    position: relative;
}
.SPY_vo {
    pointer-events: none;
}
<style>
#SITE_PAGES {
    --transition-duration: 700ms;
}
<style>
#PAGES_CONTAINER {
    --pinned-layer-in-container: 51;
    --above-all-in-container: 49;
}
<style>
#masterPage:not(.landingPage) {
    --top-offset: var(--header-height);
    --header-height: 101.462px;
}
<style>
#masterPage {
    --pinned-layers-in-page: 0;
}
body {
    --scrollbar-width: 0px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
}
<style>
:root, :host, .spxThemeOverride {
    --wix-ads-height: 50px;
    --wix-ads-top-height: 50px;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --portals-z-index: 100001;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --minViewportSize: 320;
    --maxViewportSize: 1920;
    --theme-spx-ratio: 1px;
    --color_0: 255,255,255;
    --color_1: 22,19,44;
    --color_2: 6,35,79;
    --color_3: 24,19,62;
    --color_4: 247,247,247;
    --color_5: 255,195,188;
    --color_6: 255,255,255;
    --color_7: 182,177,221;
    --color_8: 110,99,188;
    --color_9: 61,53,122;
    --color_10: 22,19,44;
    --color_11: 255,255,255;
    --color_12: 182,177,221;
    --color_13: 110,99,188;
    --color_14: 61,53,122;
    --color_15: 22,19,44;
    --color_16: 123,172,245;
    --color_17: 16,93,211;
    --color_18: 6,35,79;
    --color_19: 4,23,53;
    --color_20: 2,12,26;
    --color_21: 195,189,235;
    --color_22: 134,124,215;
    --color_23: 75,59,193;
    --color_24: 49,39,128;
    --color_25: 24,19,62;
    --color_26: 251,251,251;
    --color_27: 247,247,247;
    --color_28: 185,185,185;
    --color_29: 124,124,124;
    --color_30: 62,62,62;
    --color_31: 255,225,222;
    --color_32: 255,195,188;
    --color_33: 255,96,77;
    --color_34: 222,23,0;
    --color_35: 111,12,0;
    --color_36: 255,255,255;
    --color_37: 47,46,46;
    --color_38: 204,204,204;
    --color_39: 160,160,159;
Show All Properties (37 more)
}
:root, [data-preview~=root] {
    --wix-font-stack: Madefor,"Helvetica Neue",Helvetica,Arial,"ãƒ¡ã‚¤ãƒªã‚ª","meiryo","ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ pro w3","hiragino kaku gothic pro",sans-serif;
    --wix-font-weight-regular: 400;
    --wix-font-weight-medium: 530;
    --wix-font-weight-bold: 700;
    --wix-font-weight-xbold: 800;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
:root, [data-preview~=root] {
    --ProGallery669818973-overFreemiumBanner: 1000000;
    --ProGallery669818973-overFullscreen: 1000001;
}
:root {
    --cookie-banner-primary-color: #fff;
    --cookie-banner-secondary-color: #000;
    --cookie-banner-font-family: HelveticaNeue,Helvetica Neue,helvetica,Sans-Serif;
    --cookie-banner-font-size: 14px;
}
@supports (container-type:inline-size)
:root {
    --one-unit: 1cqw;
}
:root {
    --one-unit: 1vw;
}
